footer.footer.d-none.d-lg-block
  //.footer__top
  //  .container
  //    .row
  //      .col-lg-3
  //        .footer__top-left
  //          a(href="javascript:void(0);")
  //            img(src='../img/logo-footer.svg' alt='', title='').img-logo-footer
  //          img(src='../img/logo-footer-sk.svg' alt='', title='').img-logo-sk
  //          
  //      .col-lg-3
  //        .footer-block
  //          .footer-title Каталог товаров
  //          ul.menu__bottom-list
  //            each val in ['Для дома', 'Автохимия и детейлинг', 'Химчистка и прачеченая', 'Пищевые производства', 'Дезинфекция', 'Клининг (HoReCa)', 'Для ремонта']   
  //              li.menu__bottom-item
  //                a(href="javascript:void(0);").menu__bottom-link !{val}
  //      .col-lg-3
  //        .footer-block
  //          .footer-title Покупателям
  //          ul.menu__bottom-list
  //            each val in ['Как купить', 'Контакты', 'Возврат и обмен товаров', 'Бонусы и скидки', 'Новости', 'Статьи', 'Видео']   
  //              li.menu__bottom-item
  //                a(href="javascript:void(0);").menu__bottom-link !{val}
  //      .col-lg-3
  //        +social__list
  //        .footer-phones
  //          a(href="tel:+7 (495) 120-90-37").footer-tel +7 (495) 120-90-37
  //          a(href="tel:+7 (800) 500-74-09").footer-tel +7 (800) 500-74-09
  //        a(href="mailto:info@плекс.рф").footer-mail info@плекс.рф
  //          
  //
  //.footer__bottom-wrap
  //  .container
  //    .footer__bottom
  //      .footer__bottom-left
  //        a(href="javascript:void(0);").footer-text © Сикмо, 2020
  //        a(href="javascript:void(0);").footer-text Сделано в affetta + it-in
  //      .footer__bottom-right
  //        a(href="javascript:void(0);").footer-text Пользовательское соглашение
  //        a(href="javascript:void(0);").footer-text Политика конфеденциональности


.footer-mob.d-block.d-lg-none
  //.container
  //  .footer-mob__top
  //    a(href="javascript:void(0);")
  //      img(src='../img/logo-footer.svg' alt='', title='').img-logo-footer
  //  .footer-blocks
  //    .footer-block.accord-wrap--js.active
  //      .footer-title.accord-title--js Каталог товаров
  //      ul.menu__bottom-list.accord-block--js(style='display:block;')
  //        each val in ['Для дома', 'Автохимия и детейлинг', 'Химчистка и прачеченая', 'Пищевые производства', 'Дезинфекция', 'Клининг (HoReCa)', 'Для ремонта']
  //          li.menu__bottom-item
  //            a(href="javascript:void(0);").menu__bottom-link !{val}
  //    .footer-block.accord-wrap--js
  //      .footer-title.accord-title--js Покупателям
  //      ul.menu__bottom-list.accord-block--js
  //        each val in ['Как купить', 'Контакты', 'Возврат и обмен товаров', 'Бонусы и скидки', 'Новости', 'Статьи', 'Видео']
  //          li.menu__bottom-item
  //            a(href="javascript:void(0);").menu__bottom-link !{val}
  //
  //  .footer-phones
  //    a(href="tel:+7 (495) 120-90-37").footer-tel +7 (495) 120-90-37
  //    a(href="tel:+7 (800) 500-74-09").footer-tel +7 (800) 500-74-09
  //  a(href="mailto:info@плекс.рф").footer-mail info@плекс.рф
  //  +social__list
  //  img(src='../img/logo-footer-sk.svg' alt='', title='').img-logo-sk
  //  .footer__bottom-right
  //    a(href="javascript:void(0);").footer-text.mb-2 Пользовательское соглашение
  //    a(href="javascript:void(0);").footer-text Политика конфеденциональности
  //
  //  .footer__bottom-left
  //    a(href="javascript:void(0);").footer-text © Сикмо, 2020
  //    a(href="javascript:void(0);").footer-text Сделано в affetta + it-in
    
      
