header.header
  .header-top
    .container
      .header-top__inner
        .header-top__left
          .header-top__address Москва, шоссе Энтузиастов, 2,5 км от МКАД
          .header-top__time Режим работы: Пн-вс 09:00 – 21:00
        .header-top__right
          a(href="tel:+74957405511").header-top__tel +7 (495) 740 55 11
          .header-top__social
            a(href="javascript:void(0);").social__icon
              img(src='./img/icon-vk.svg' alt='vk')
            a(href="javascript:void(0);").social__icon
              img(src='./img/icon-youtube.svg' alt='youtube')
            a(href="javascript:void(0);").social__icon
              img(src='./img/icon-telegram.svg' alt='telegram')
          button(type="button").btn.btn-white Заказать звонок
    
  .header-bottom
    .container
      .header-bottom__inner
        a(href="javascript:void(0);").header-bottom__logo
          img(src='./img/logo.svg' alt='logo')
          
        .header-bottom__nav
          nav.header-nav
            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Акции
            .header-nav__item.header-nav__down
              a(href="javascript:void(0);").header-nav__link Каталог
              ul.header-nav__submenu
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Мотоциклы
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Лодочные моторы
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Квадроциклы
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Мотовездеходы
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Снегоходы
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Катера
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Силовая техника
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link С пробегом

            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Сервис
            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Прокат
            .header-nav__item.header-nav__down
              a(href="javascript:void(0);").header-nav__link О нас
              ul.header-nav__submenu
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link История
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Видео
                li.header-nav__submenu-item
                  a(href="javascript:void(0);").header-nav__submenu-link Контакты
            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Оплата
            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Доставка
            .header-nav__item
              a(href="javascript:void(0);").header-nav__link Контакты
        
        .header-bottom__icons
          .header-icons
            a(href="javascript:void(0);").header-icon
              img(src='./img/icon-search.svg' alt='search')
            a(href="javascript:void(0);").header-icon
              img(src='./img/icon-favor.svg' alt='favor')
            a(href="javascript:void(0);").header-icon
              img(src='./img/icon-cart.svg' alt='cart')
            a(href="javascript:void(0);").header-icon
              img(src='./img/icon-user.svg' alt='user')
           
        .header-humb
          .menu-humb
            .icon-humb
              .icon-humb__line
              .icon-humb__line
              .icon-humb__line
                
          
          
.menu-mob
  .menu-mob__inner
    .menu-mob__nav
      ul.menu-mob__list
        li.mob-nav__item
          a.mob-nav__link(href='#') Акции
        li.mob-nav__item.mob-nav__down
          a.mob-nav__link(href='#') Каталог
          ul.mob-nav__submenu
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Мотоциклы
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Лодочные моторы
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Квадроциклы
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Мотовездеходы
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Снегоходы
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Катера
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Силовая техника
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") С пробегом
        li.mob-nav__item
          a.mob-nav__link(href='#') Сервис
        li.mob-nav__item
          a.mob-nav__link(href='#') Прокат
        li.mob-nav__item.mob-nav__down
          a.mob-nav__link(href='#') О нас 
          ul.mob-nav__submenu
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") История
            li.mob-nav__submenu-item
              a.mob-nav__submenu-link(href="javascript:void(0);") Видео
        li.mob-nav__item
          a.mob-nav__link(href='#') Оплата
        li.mob-nav__item
          a.mob-nav__link(href='#') Доставка
        li.mob-nav__item
          a.mob-nav__link(href='#') Контакты
        

